<div class="container main-container">
    <div>
        <div *ngIf="details?.isOwner" class="details__container">
            <button (click)="openDetailsDialog()" class="details">Szczegóły</button>
        </div>
    </div>
    <div class="group-page">
        <div class="post-container">
            <form [formGroup]="postForm">
                <fieldset class="post-form__fieldset">
                    <div class="post-form__container">
                        <label class="post-form__label">Treść</label>
                        <input class="post-form__input" name="content" formControlName="content" type="text">
                    </div>
                </fieldset>
                <div class="post-form__button-container">
                    <button type="submit" [disabled]="!postForm.valid" (click)="addPost()" class="post-form__button">
                        Dodaj
                    </button>
                </div>
            </form>
            <p class="header">Posty</p>
            <div class="post-list">
                <div *ngFor="let post of posts" class="post">
                    <app-post-tile [data]="post" (reloadPosts)="loadPosts()" (parentSnackBar)="parentSnackBar($event)"></app-post-tile>
                </div>
            </div>
        </div>
        <div class="files-container">
            <div class="group-main-page-right-menu__files">
                <app-files-manager (parentSnackBar)="parentSnackBar($event)"></app-files-manager>
            </div>
            
            <p class="header">Chat</p>
            <app-chat></app-chat>
        </div>
    </div>
</div>