/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/purple-green.css";*/
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    margin: 0;
    font-family: Roboto;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


a:hover,
button:hover {
    cursor: pointer;
}