<div>
    <div class="group-select">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input matInput
                        placeholder="State"
                        aria-label="State"
                        [matAutocomplete]="auto"
                        [formControl]="stateCtrl">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let state of filteredGroups | async" [value]="state.name">
                        <span>{{state.name}}</span> |
                        <small>Population: {{state.population}}</small>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
        <div>
            <button (click)="openClientCreationDialog()">
              Dodaj dostawcę
            </button>
        </div>
    </div>
    <div class="group-tile-wrapper">
        <div *ngFor="let group of userGroups" class="group-tile">
            <app-group-tile [data]="group" (click)="onGroupSelect(group.Id)"></app-group-tile>
        </div>
    </div>
</div>