.post 
    padding: 12px
    border-radius: 10px
    margin-bottom: 10px
    overflow-wrap: anywhere
    border: 1px solid #f2f2f2
    &__date
        opacity: .8
        font-size: .7rem
    &__fieldset
        border: 1px solid #dcdcdc
        padding: 10px
        margin: 0
        p
            margin: 0
        &--right
            width: 80%
            margin-left: auto
            margin-top: 20px
    &__button
        background: #1f4e62
        color: white
        padding: 10px
        text-align: center
        border: none
        margin: 10px 2px
        text-transform: uppercase
        font-size: .7rem
        font-weight: 500
        &-container
            display: flex
            justify-content: flex-end
        &--border
            background: none
            border: 2px solid #1f4e62
            color: #1f4e62
            font-weight: 600
    &__input
        border: none
        border-bottom: 1px solid #d6d6d6
        padding: 10px
        background: none
        width: fill-available
    &__comment
        width: 80%
        margin-left: auto
        padding: 12px
        overflow-wrap: anywhere
        background:  rgba(72, 98, 123, .2)
        margin-top: 10px
        border-radius: 15px