<div class="post">
    <div>
        <p class="post__date">Data dodania: {{ data.dateAdded | date:'short' }} | Data edycji: {{ data.editDate | date:'short' }}</p>
        <form [formGroup]="modifyPostForm" class="post__form">
            <fieldset class="post__fieldset">
                <p *ngIf="!isModified">{{ data.content }}</p>
                <input *ngIf="isModified" name="content" formControlName="content" type="text">
            </fieldset>
            <button *ngIf="isModified" (click)="resetPostValues()" class="post__button post__button--line">Anuluj</button>
            <button *ngIf="isModified" type="submit" [disabled]="!modifyPostForm.valid" (click)="modifyPost()" class="post__button post__button--background">Zatwierdź</button>
        </form>
        <button *ngIf="data.isOwner" (click)="deletePost()" class="post__button">Usuń post</button>
        <button *ngIf="data.isOwner && !isModified" (click)="setModifyFlag()" class="post__button">Edytuj</button>
    </div>
    <div *ngFor="let comment of data.comments" class="post__comment">
        <p class="post__date">Data dodania {{ comment.dateAdded | date:'short' }}</p>
        <p>{{ comment.content }}</p>
        <button *ngIf="comment.isOwner" (click)="deleteComment(comment.id)" class="post__button">Usuń komentarz</button>
    </div>
    <div>
        <form [formGroup]="commentForm">
            <fieldset class="post__fieldset post__fieldset--right">
                <div>
                    <input name="content" formControlName="content" type="text" class="post__input" placeholder="Napisz komentarz...">
                </div>
            </fieldset>
            <button type="submit" [disabled]="!commentForm.valid" (click)="addComment()" class="post__button">
                Dodaj
            </button>
        </form>
    </div>
</div>