.login-panel__header-container {
    width: 100vw;
    height: 200px;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../../assets/img/login-header.jpg');
    background-size: cover;
}

.login-panel__header {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.login-panel__form {
    width: 50%;
    margin: 50px auto;
    padding-left: 20px;
    border-left: 5px solid #19cc89;
}

    .login-panel__form fieldset {
        border: none;
        padding: 0;
    }

    .login-panel__form a {
        padding-right: 5px;
    }

.login-panel__field {
    margin: 40px 0;
    display: flex;
    align-items: center;
}

.login-panel__label {
    margin-right: 10px;
}

.login-panel__input {
    border: none;
    border-bottom: 1px solid #e4dddd;
    background: none !important;
    padding: 5px;
    width: 100%;
}

.login-panel__button {
    background: #19cc89;
    border: none;
    border-radius: 25px;
    padding: 10px 35px;
    color: white;
    float: right;
}

    .login-panel__button:hover {
        cursor: pointer;
        background: #10b577;
    }

.forgot-password__link {
    opacity: 0.6;
    font-size: small;
}