<form [formGroup]="newClientForm" (ngSubmit)="onSubmit()" class="form">
  <h1 class="form__header">Dodawanie dostawcy</h1>
  <fieldset>
      <div class="form__form-field">
          <label class="form__label">Pełna nazwa:</label>
          <input name="fullName" formControlName="fullName" type="text" class="form__input">
      </div>
      <div class="form__form-field">
          <label class="form__label">Skrót:</label>
          <input name="shortName" formControlName="shortName" type="text" class="form__input">
      </div>
      <div *ngIf="errors" class="errors__header">
        <div *ngFor="let error of errors" [innerHTML]="error" class="errors__row"></div>
      </div>
      <div class="form__form-field form__button-field">
          <button class="btn btn-primary form__button">Dodaj</button>
      </div>
  </fieldset>
</form>