
.profile {
    display: flex;
    flex-direction: column;
}

.form {
    margin-left: 0;
}

.profile-password-change {
    width: 25%;
    float: left;
    margin-left: 5%;
}

.profile-email-confirmation {
    display: flex;
    margin: 20px 0 10px 5%;
    flex-direction: column;
}

.profile-settings {
    margin-left: 5%;
}

.profile-settings__row {
    margin-left: 2%;
    display: flex;
}

.profile-settings__row >* {
    padding: 4px;
}

.profile-settings__header {
    margin-bottom: 0;
}