.navbar-nav {
    padding: 15px;
    background: #424040;
    display: flex;
    justify-content: flex-end;
}

    .navbar-nav .nav-item {
        color: white;
        text-decoration: none;
        font-weight: 500;
        text-transform: uppercase;
        margin: 0 10px;
    }

.profile-button {
    margin-right: auto !important;
}