<div id="navigation-wrapper" class="navigation-wrapper">
  <p class="navigation-wrapper__header">Grupy:</p>
  <div *ngFor="let group of mainPageDataService.userGroups" class="navigation-wrapper__group">
    <button *ngIf="group.id === mainPageDataService.activeGroup" mat-raised-button id="active-group-button" class="navigation-wrapper__button">{{ group.name }}</button>
    <button *ngIf="group.id !== mainPageDataService.activeGroup" mat-raised-button (click)="onGroupChange(group.id)" class="navigation-wrapper__button">{{ group.name }}</button>
    <a (click)="leaveGroup(group.id)">
      <mat-icon>clear</mat-icon>
    </a>
  </div>
  <div id="create-group">
    <p class="navigation-wrapper__header">Dodaj grupę:</p>
    <form [formGroup]="newGroupForm" (ngSubmit)="createGroup()" class="navigation-wrapper__form">
      <label>
        Nazwa:
        <input type="text" formControlName="name" required class="navigation-wrapper__input">
      </label>
      <button type="submit" [disabled]="!newGroupForm.valid" class="navigation-wrapper__submit-button">Submit</button>
    </form>
  </div>
  <app-group-search-bar></app-group-search-bar>
</div>
